DifyChat.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: DifyChat
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.0.7@11ec0b1909200f62b6ebf2cec1da981a9071d11c1ee0e2ef332ce89bcffa2544
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      selected: false
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: list-operator
      id: 1749647909324-source-1750175686682-target
      source: '1749647909324'
      sourceHandle: source
      target: '1750175686682'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: list-operator
        targetType: llm
      id: 1750175686682-source-llm-target
      selected: false
      source: '1750175686682'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: list-operator
      id: 1749647909324-source-1750177581523-target
      source: '1749647909324'
      sourceHandle: source
      target: '1750177581523'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: document-extractor
      id: 1750177581523-source-1750177710574-target
      source: '1750177581523'
      sourceHandle: source
      target: '1750177710574'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1750177710574-source-llm-target
      source: '1750177710574'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1749647909324'
      position:
        x: -466.889608259164
        y: 253.6160390344591
      positionAbsolute:
        x: -466.889608259164
        y: 253.6160390344591
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}

            '
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 8101
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 00a72396-27e2-4c10-8331-78f5176a5fd5
          role: system
          text: '{{#1750177710574.text#}}'
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - '1750175686682'
            - result
          enabled: true
      height: 90
      id: llm
      position:
        x: 718.0755883523552
        y: 269.73437870182914
      positionAbsolute:
        x: 718.0755883523552
        y: 269.73437870182914
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 1085.309276355922
        y: 269.73437870182914
      positionAbsolute:
        x: 1085.309276355922
        y: 269.73437870182914
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - image
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 是图片
        type: list-operator
        var_type: array[file]
        variable:
        - sys
        - files
      height: 92
      id: '1750175686682'
      position:
        x: -139.37712645672804
        y: 253.6160390344591
      positionAbsolute:
        x: -139.37712645672804
        y: 253.6160390344591
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - document
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 是文档
        type: list-operator
        var_type: array[file]
        variable:
        - sys
        - files
      height: 92
      id: '1750177581523'
      position:
        x: -139.37712645672804
        y: 66.6572602540125
      positionAbsolute:
        x: -139.37712645672804
        y: 66.6572602540125
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1750177581523'
        - result
      height: 92
      id: '1750177710574'
      position:
        x: 164.62287354327196
        y: 66.6572602540125
      positionAbsolute:
        x: 164.62287354327196
        y: 66.6572602540125
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 621.0190253703774
      y: 424.58397482591545
      zoom: 0.686133026504551
